.navbar-brand {
    font-family: Be Vietnam Pro;
    font-size: 5rem !important;
    color: #4A4A4A;
    
}

.section-heading{
    font-size: 4rem !important;
    color: #4A4A4A;
    font-family: Be Vietnam Pro;
    text-align: center;
    width: 100%;
}

.about-section{
   padding-left: 10% !important;
   padding-right: 10% !important;
}

.section-text{
    font-size: 2rem;
}

.product-single{

border: 1px solid black;
margin:1rem !important;
width: 33%;
height: 600px;
}


#products{
    align-items: center;
    justify-content: center;
}

.responsive{
    width: 100%;
    height: 100%;
}


.product-single-image{
    height: 80%;
}

#view-in-your-space{
    border: 1px solid #000000;
    border-radius: 24px;
    width: 25%;
    padding:10px;
    text-align: center;
}

#product-name{
    
    margin: 3rem;
}